

<section class="funfacts type_four">
  <div class="bg_icons">
     <span class="flaticon-virus one"></span>
     <span class="flaticon-virus two"></span>
     <span class="flaticon-virus three"></span>
     <span class="flaticon-virus four"></span>
     <span class="flaticon-virus five"></span>
     <span class="flaticon-virus six"></span>
     <span class="flaticon-virus seven"></span>
     <span class="flaticon-virus eight"></span>
  </div>
  <div class="container-fluid">
     <div class="row">
        <div class="col-lg-2 col-md-2 d-flex">
           <div class="funfacts_count">
              <div class="fun_facts_box type_four">
                 <small class="flaticon-hospitalisation icon"></small>
                 <h6><span class="counter-value">{{totalConfirmed}}</span>+</h6>
                 <h2>Cas dans le monde </h2>
              </div>
              <div class="fun_facts_box type_four">
                 <small class="flaticon-death icon"></small>
                 <h6><span class="counter-value">{{totalDeaths}}</span>+</h6>
                 <h2>Morts</h2>
              </div>
              <div class="fun_facts_box type_four">
                 <small class="flaticon-family icon"></small>
                 <h6><span class="counter-value">{{totalRecovered}}</span>+</h6>
                 <h2> Guérisons</h2>
              </div>
           </div>
        </div>
        <div class="col-lg-10 col-md-10">
           <div class="funfacts_box">
              <div class="image_box text-center">
                 <img src="assets/image/resources/funfacts-home-4.png" class="img-fluid" alt="img" />
              </div>
              <div class="fun_facts_no">
                 <div class="fact_one facts">
                    <div class="fact_box">
                       <div class="fact_number_box">
                          <div class="image">
                             <img src="assets/image/svg/spain.svg" class="img-fluid svg_image" alt="Iran" />
                             <h2>Iran</h2>
                          </div>
                          <div class="facts_total">
                             <h6><span>Total Cases :</span> 80,000</h6>
                             <h6><span>Total Deaths :</span> 2453</h6>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="fact_two facts">
                    <div class="fact_box">
                       <div class="fact_number_box">
                          <div class="image">
                             <img src="assets/image/svg/flag.svg" class="img-fluid svg_image" alt="usa" />
                             <h2>usa</h2>
                          </div>
                          <div class="facts_total">
                             <h6><span>Total cas :</span >{{totalActive}}</h6>
                             <h6><span>Total morts :</span> 57</h6>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="fact_three facts">
                    <div class="fact_box">
                       <div class="fact_number_box">
                          <div class="image">
                             <img src="assets/image/svg/korea.svg" class="img-fluid svg_image" alt="korea" />
                             <h2>Korea</h2>
                          </div>
                          <div class="facts_total">
                             <h6><span>Total Cases :</span> 1200</h6>
                             <h6><span>Total Deaths :</span> 57</h6>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="fact_four facts">
                    <div class="fact_box">
                       <div class="fact_number_box">
                          <div class="image">
                             <img src="assets/image/svg/china.svg" class="img-fluid svg_image" alt="china" />
                             <h2>China</h2>
                          </div>
                          <div class="facts_total">
                             <h6><span>Total Cases :</span> 12,200</h6>
                             <h6><span>Total Deaths :</span> 6000</h6>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="fact_five facts">
                    <div class="fact_box">
                       <div class="fact_number_box">
                          <div class="image">
                             <img src="assets/image/svg/india.svg" class="img-fluid svg_image" alt="india" />
                             <h2>India</h2>
                          </div>
                          <div class="facts_total">
                             <h6><span>Total Cases :</span> 1200</h6>
                             <h6><span>Total Deaths :</span> 57</h6>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
  <!-- Main content -->
  <div class="main-content" id="panel">


<div class="about_fun_ffacts col-lg-8 mt-4 mx-auto"  *ngFor="let data of glob" >
  <div class="row"  >
    <div class="col-lg-3">
       <div class="fun_facts_box type_one" >
          <div class="icon">
             <img src="/assets/image/svg/virus.svg" class="img-fluid svg_image" alt="home" />
          </div>
          <h2 style="color: rgb(0, 0, 0);"><span class="counter-value" style="color: rgb(0, 0, 0);">{{data[0]}}</span>+</h2>
          <h6 style="color: black;">Total confirmé</h6>
       </div>
    </div>
    <div class="col-lg-3">
       <div class="fun_facts_box type_one" >
          <div class="icon">
             <img src="/assets/image/svg/partnership.svg" class="img-fluid svg_image" alt="home" />
          </div>
          <h2 style="color: rgb(7, 91, 247);"><span class="counter-value" style="color: rgb(7, 91, 247);">{{data[3]}}</span>+</h2>
          <h6 style="color: rgb(7, 91, 247);">Nouveau cas confirmés</h6>
       </div>
    </div>
    <div class="col-lg-3">
       <div class="fun_facts_box type_one">
          <div class="icon">
             <img src="/assets/image/svg/man.svg" class="img-fluid svg_image" alt="home" />
          </div>
          <h2 style="color: rgb(0, 168, 42);"><span class="counter-value" style="color: rgb(0, 168, 42);">{{data[2]}}</span>+</h2>
          <h6 style="color: rgb(0, 168, 42);">Total Guérisons</h6>
       </div>
    </div>
    <div class="col-lg-3">
       <div class="fun_facts_box type_one last">
          <div class="icon">
             <img src="/assets/image/svg/tombstones.svg" class="img-fluid svg_image" alt="home" />
          </div>
          <h2 style="color: rgb(180, 0, 0);"><span class="counter-value" style="color: rgb(180, 0, 0);">{{data[1]}}</span>+</h2>
          <h6 style="color: rgb(180, 0, 0);">Total mort</h6>
       </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-8 mx-auto">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Bilan global dans le monde</h3>
          </div>

        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush" >
          <thead class="thead-light">
            <tr>
              <th scope="col">Pays</th>
              <th scope="col">nombre de cas confirmés</th>
              <th scope="col">Retour à domicile</th>
              <th scope="col">Total des Décés</th>
              <th scope="col">Cas actifs</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dat of cP | paginate: { itemsPerPage: 8, currentPage: p } | keyvalue ">
              <th scope="row">
                {{dat.value[0]}}
              </th>
              <td>
                {{dat.value[3]}}
              </td>
              <td>
               {{dat.value[6]}}
              </td>
              <td>
                {{dat.value[5]}}
               </td>
              <td>
                <i class="fas fa-arrow-up text-success mr-3"></i> {{dat.value[1]}}
              </td>
            </tr>

          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">


                <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>

          </ul>
        </nav>

      </div>
    </div>
  </div>

</div>



<div class="col-md-8 mx-auto">
<div class="row">
  <div class="col-md-6">
   <canvas id="myChart"></canvas>
 </div>
 <div class="col-md-6">
   <canvas id="pieChart"></canvas>
 </div>
</div>
</div>


 <!-- <div class="col-md-12 mt-5 mx-auto">
  <div class="row">
    <div class="mt-4 mb-4  mx-auto">
    <div class="custom-control custom-radio custom-control-inline" style="font-weight: 500;">
     <input type="radio" id="customRadioInline1" #c value="c" (click)="updateChart(c)" name="caseType" class="custom-control-input">
     <label class="custom-control-label" for="customRadioInline1">cas confirmés</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline" style="font-weight: 500;">
     <input type="radio" id="customRadioInline2" #m value="m" (click)="updateChart(m)" name="caseType" class="custom-control-input">
     <label class="custom-control-label" for="customRadioInline2">nombre de mort</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline" style="font-weight: 500;">
     <input type="radio" id="customRadioInline3" #a  value="a" (click)="updateChart(a)" name="caseType" class="custom-control-input">
     <label class="custom-control-label" for="customRadioInline3">cas actifs</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline" style="font-weight: 500;">
     <input type="radio" id="customRadioInline4" #d value="d" (click)="updateChart(d)" name="caseType" class="custom-control-input">
     <label class="custom-control-label" for="customRadioInline4">retour domicile</label>
   </div>
    </div>
    </div>
   <canvas id="countryChart"></canvas>
 </div> -->

  </div>




